{% assign title = group_title %}
<li class="slider__item coll-button flex flex-col justify-center w-full {% if index == 1 %}active{% endif %}" data-id="{{ index }}">
    <div class="coll-title">{{ title }}</div>
</li>