{%- if section.settings.main_menu_alignment == 'left-center' -%}    
    <div class="header__search{% if section.settings.minimise_search_mobile %} header__search--collapsible-mob{% endif %}{% if section.settings.minimise_search_desktop %} header__search--collapsible-desktop{% endif %}{% if search_is_minimised %} js-search-bar{% endif %} relative js-closes-menu"{% if search_is_minimised %} id="search-bar"{% endif %}>
      {%- if section.settings.logo_center and section.settings.minimise_search_desktop and section.settings.main_menu_alignment == 'center-split' -%}
        <a class="header__icon header__icon--search-left absolute hidden md:block js-show-search-left" href="{{ routes.search_url }}" aria-controls="search-bar">
          <span class="header__icon--search-left-search">
            {% render 'icon-search' %}
          </span>
          <span class="header__icon--search-left-close">
            {% render 'icon-close' %}
          </span>
          <span class="visually-hidden">{{ 'general.icon_labels.search' | t }}</span>
        </a>
      {%- endif -%}
      {% render 'predictive-search', id: 'header-search', show_search_types: show_search_types %}
    </div>
{%- endif -%}

{%- if section.settings.main_menu_alignment == 'center-split' -%}    
<div class="header__search{% if section.settings.minimise_search_mobile %} header__search--collapsible-mob{% endif %}{% if section.settings.minimise_search_desktop %} header__search--collapsible-desktop{% endif %}{% if search_is_minimised %} js-search-bar{% endif %} relative js-closes-menu"{% if search_is_minimised %} id="search-bar"{% endif %}>
    {%- if section.settings.logo_center and section.settings.minimise_search_desktop and section.settings.main_menu_alignment == 'center-split' -%}
    <a class="header__icon header__icon--search-left absolute hidden md:block js-show-search-left" href="{{ routes.search_url }}" aria-controls="search-bar">
        <span class="header__icon--search-left-search">
        {% render 'icon-search' %}
        </span>
        <span class="header__icon--search-left-close">
        {% render 'icon-close' %}
        </span>
        <span class="visually-hidden">{{ 'general.icon_labels.search' | t }}</span>
    </a>
    {%- endif -%}
    {% render 'predictive-search', id: 'header-search', show_search_types: show_search_types %}
</div>
{%- endif -%}

