:root {
    --column-gap: 8px;
    --row-gap: 9px;
}
/** Slider button **/
.collection-slider-button {
    padding: 0 14px;
    margin-bottom: 20px;
}
.collection-slider-button .slider {
    scrollbar-width: none;
}
.collection-slider-button .collection-filter {
    height: auto;
    padding: 10px 9px 10px 10px;
}
.collection-slider-button.filter__option-A .collection-filter {
    border-radius: 15px;
}
.collection-slider-button .slider__grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
}
.collection-slider-button .slider__grid .slider__item {
    height: 32px;
    width: 104px;
    cursor: pointer;
    border-radius: 90px;
}
.collection-slider-items .slider__grid .slider__item {
    cursor: grab;
}
.collection-slider-items .slider__grid .slider__item .card-link,
.collection-slider-button .slider__grid .slider__item .coll-title {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.collection-slider-button .slider__grid .slider__item .coll-title {
    font-size: 12px !important;
}
.collection-slider-button .slider-nav button[name="next"],
.collection-slider-button .slider-nav button[name="prev"] {
    display: none;
}

/** Slider items **/
.collection-slider-items .slider {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -10000;
}
.collection-slider-items .slider.active {
    display: block;
    visibility: visible;
    opacity: 1;
    position: unset;
    z-index: 0;
    padding-bottom: 0;
}
.collection-slider-items .collection-items-container {
    position: relative;
    overflow: hidden;
}
.collection-slider-items .slider__grid {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 0 14px 10px 14px;
    gap: 14px !important;
    -webkit-overflow-scrolling: touch;
}
.collection-slider-items .slider:not(.slider--contained) .slider__item:last-child {
    width: 270px !important;
    border-inline-end: unset !important;
}
.collection-slider-items .cs-align-center-one{
    justify-content: center;
}
.collection-slider-items custom-scrollbar.cs-align-center-one {
    display: none;
}
.collection-slider-items .slider__grid .slider__item,
.collection-slider-items .slider__grid .slider__item .card__media {
    width: 270px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.collection-slider-items .slider__grid .slider__item .media {
    padding-top: 141.05% !important;
    border-radius: 20px !important;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.collection-slider-items .slider__grid .slider__item .media img {
    border-radius: 20px !important;
}
.collection-slider-items .slider__grid .slider__item .card__info {
    padding-top: 19px;
}
.collection-slider-items .slider__grid .slider__item .card-link {
    font-size: 16px;
    color: #000000;
}
.collection-slider-items .slider__grid::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0 !important;
    display: none !important;
    width: 152.56px;
    background-color: transparent;
}
.collection-slider-items .slider__grid::-webkit-scrollbar-thumb {
    margin: 0 14px;
    background-color: #1F140F;
}
.collection-slider-items .slider__grid::-webkit-scrollbar-thumb:hover {
    border-width: 10px;
    background: #1F140F;
}
.collection-slider-items .slider__grid::-webkit-scrollbar-track {
    margin: 0 14px;
    background-color: #F5F5F5;
}
.collection-slider-items .slider__grid.cs-align-center-one::-webkit-scrollbar {
    display: none;
}
.collection-slider-items .slider-nav {
    display: none;
}
.collection-slider-items .slider {
    overflow: unset !important;
}
@media screen and (min-width: 768px) {
    .collection-slider-button {
        display: flex;
        justify-content: center;
        margin-bottom: 47px;
        padding: 0 32px;
    }
    .collection-slider-button .collection-slider-container {
        max-width: 1120px;
    }
    .collection-slider-button.filter__option-A .collection-slider-container {
        max-width: 1118px;
    }
    .collection-slider-button .collection-filter {
        display: flex;
        justify-content: center;
        width: fit-content;
        padding: 0;
    }
    .collection-slider-button .slider__grid {
        padding: 5px;
        width: fit-content;
        column-gap: var(--column-gap);
        row-gap: var(--row-gap);
    }
    .collection-slider-button.filter__option-A .slider__grid {
        column-gap: 17.6px;
    }
    .collection-slider-button.filter__option-B .slider__grid {
        padding-left: 0;
        padding-right: 0;
    }
    .collection-slider-button .slider__grid .slider__item {
        height: 40px;
    }
    .collection-slider-button.filter__option-A .slider__grid .slider__item {
        width: 170px;
    }
    .collection-slider-button.filter__option-B .slider__grid .slider__item {
        width: 180px;
    }
    .collection-slider-button .slider__grid .slider__item .coll-title {
        font-size: 16px;
    }
    .collection-slider-items {
        display: flex;
        justify-content: center;
        padding: 0 32px;
    }
    .collection-slider-items .collection-slider-container {
        max-width: 1120px;
        margin: 0 auto;
    }
    .collection-slider-items .slider__grid {
        max-width: 100vw;
        padding: 0 32px 25px 32px;
    }
    .collection-slider-items .cs-align-center.cs-align-center-one {
        justify-content: center;
    }
    .collection-slider-items .slider__grid::-webkit-scrollbar-thumb {
        opacity: initial;
    }
    .collection-slider-items .slider__grid::-webkit-scrollbar-track {
        opacity: initial;
        margin: 0 32px;
    }
}
@media screen and (min-width: 1200px) {
    .collection-slider-button.filter__option-A .collection-filter {
        border-radius: 90px;
    }
    .collection-slider-items .collection-slider-container,
    .collection-slider-items .slider__grid {
        max-width: 1120px;
    }
    .collection-slider-items .slider__grid {
        padding: 0 0 25px 0;
    }
    .collection-slider-items .slider__grid::-webkit-scrollbar-track {
        margin: 0;
    }
    .collection-slider-items .carousel[inactive] .slider__grid::-webkit-scrollbar-thumb {
        display: none;
    }
    .collection-slider-items .carousel[inactive] .slider__grid::-webkit-scrollbar-track {
        display: none;
    }
    .collection-slider-items .carousel[inactive] custom-scrollbar {
        display: none;
    }
}