/* style product cart sold-out */
product-card[izas-product-card].card--product.variant-out-stock .card__media .product-label-wrapper {
    display: flex !important;
}
product-card[izas-product-card__sold-out][izas-product-card] img,
product-card[izas-product-card].card--product.variant-out-stock .card__media img,
product-card[izas-product-card__sold-out][izas-product-card] .card__media.has-hover-image:hover img {
    background: #000;
    opacity: 0.5;
}
product-card[izas-product-card__sold-out][izas-product-card] .card__quick-add button {
    display: none;
}
product-card[izas-product-card__sold-out][izas-product-card] .product-label--sold-out,
product-card[izas-product-card].variant-out-stock .product-label--sold-out {
    background-color: rgb(var(--sold-out-label-bg-color)) !important;
    color: rgb(var(--sold-out-label-text-color)) !important;
}
/* style product cart sold-out */
[izas-product-card] .card__swatches{
    padding: 0;
    margin: 10px 1px 0;
    padding-inline-end: 0;
    height: 100%;
}
[izas-product-card] .card__title {
    margin-top: 0;
}
[izas-product-card] .card__title a{
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
}
[izas-product-card].card:not(.card--related).card--no-lines .price{
    padding-top: 2px;
}
[izas-product-card].card--product .price__current{
    font-size: 16px;
    color: #000;
    letter-spacing: 0.7px;
    padding-right: 6px;
    font-weight:600;
}
[izas-product-card].card--product .price__was{
    font-size: 16px;
    color: #D9D9D9;
}
[izas-product-card].card--product  .card__info-inner{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: flex-end;
}
[izas-product-card].card--product  .card__info{
    padding-top: 10px;
}
[izas-product-card].card--product  .card__quick-add{
    padding: 10px;
}
[izas-product-card].card--product input:checked+label[data-swatch], 
[izas-product-card].card--product input:checked+.filter__label[data-swatch]:before{
    border: 2px solid rgba(var(--bg-color));
    box-shadow: 0 0 0 1px #000;
}
[izas-product-card].card--product .product-label-container{
    top: unset;
    bottom: 0;
}
[izas-product-card].card--product .product-label-container .product-label{
    border-radius: 10px;
    margin-bottom: 8px;
    margin-top: 0;
    margin-left: 8px;
    font-size: 12px;
    padding: 4px 14px;
}
[izas-product-card].card--product .price__discount{
    font-size: 10px;
    color: #C83737;
    font-weight: 400;
}
[izas-product-card] .variation-color-hidden{
    display: none;
}
[izas-product-card] .btn-show-variation-color{
    align-self: auto;
    margin-top: 3px;
}
@media (min-width: 600px) {
    [izas-product-card].card--product .product-label-container .product-label{
        border-radius: 10px;
        margin-bottom: 12px;
        margin-top: 0;
        margin-left: 13px;
    }
    [izas-product-card].card--product  .card__info-inner{
        display: flex;
        flex-direction: column;
    }
    [izas-product-card].card--product  .card__info{
        padding-top: calc(4 * var(--space-unit));
    }
    [izas-product-card].card--product  .card__quick-add{
        padding: 7px;
    }
    [izas-product-card] .card__swatches{
        padding: 0;
        margin: -3px 1px 0;
        padding-inline-end: 0;
    }
    [izas-product-card] .card__title {
        margin-top: 10px;
    }
    [izas-product-card] .card__title a{
        font-size: 14px;
    }
    [izas-product-card].card:not(.card--related).card--no-lines .price{
        padding-top: 4px;
    }
    [izas-product-card].card--product .price__current{
        font-size: 12px;
        color: #000;
        letter-spacing: 0.7px;
        padding-right: 8px;
    }
    [izas-product-card].card--product .price__was{
        font-size: 12px;
        color: #D9D9D9;
    }
    [izas-product-card].card--product .price__discount{
        font-size: 10px;
    }
}
@media (min-width: 1024px) {
    [izas-product-card] .card__title a{
        font-size: 14px;
    }
    [izas-product-card].card:not(.card--related).card--no-lines .price{
        padding-top: 4px;
    }
    [izas-product-card].card--product .price__current{
        font-size: 18px;
        color: #000;
        letter-spacing: 0.7px;
        padding-right: 8px;
    }
    [izas-product-card].card--product .price__was{
        font-size: 18px;
        color: #D9D9D9;
    }
    [izas-product-card].card--product .price__discount{
        font-size: 14px;
    }
}
